body {
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
button {
margin: 5px;
}
.form div {
width: 300px;
margin: auto;
    padding: 5px;
    align: center;
    background: #D4FFFC;
    outline: 2px solid #000;
    border: 3px solid #fff;
    border-radius: 10px;
   }


body {
font-size: 13px;
}


.simple div {
   margin: auto;
   }
