<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h3 align="center">Здравствуйте, выберите действие.</h3>
<div align="center">

    <a th:href="@{/user/}">
        <button>Вход</button>
    </a>
    <br><br>
    <a th:href="@{/register}">
        <button>Регистрация</button>
    </a>

</div>
</body>
</html>