<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>


    <div align="center">
        <h4>Заполните форму:</h4>
        <form method="post" th:object="${userForm}">
            <input placeholder="Логин" name="username" type="text"><br>
            <input placeholder="Пароль" name="password" type="password"><br>
            <input placeholder="Подтверждение пароля" name="password2" type="password"><br>
            <input placeholder="Статус" name="role" type="text"><br><br>
            <input type="submit" value="Зарегистрировать">
        </form>
        <br>
        <a th:href="@{/}">
            <button>На главную</button>
        </a>

<!--    -->
<!--<form method="post">-->
<!--    <h1>Регистрация</h1>-->
<!--    <p>-->
<!--        Username: <input name="username"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        Password: <input name="password" type="password" minlength="4"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        Password repeat: <input name="password2" type="password" minlength="4"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        Role: <input name="role" />-->
<!--    </p>-->
<!--    <button>Register</button>-->

<!--</form>-->


</body>
</html>