<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="form">
<h3>Регистрация пользователя</h3>


    <div align="center">
        <h4>Заполните форму:</h4>
        <form method="post" th:object="${userForm}">
            <input placeholder="Имя" name="firstName" type="text"><br>
            <input placeholder="Фамилия" name="lastName" type="text"><br>
            <input placeholder="Дата рождения" name="birthDate" type="text"><br>
            <input placeholder="Номер телефона" name="phone" type="text"><br>
            <input placeholder="Email" name="email" type="text"><br><br>
            <input type="submit" value="Зарегистрировать">
        </form>
        <br>
        <a th:href="@{/user/}">
            <button>На главную</button>
        </a>

    </div>


</body>
</html>