<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление Информации</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="form" align="center">
    <h4>Обновление информации</h4>
    <div>
        <h4>Заполните форму:</h4>
        <form method="post" th:object="${userForm}">
            <input placeholder="Имя" th:value="${userForm.getFirstName()}" name="firstName" type="text" ><br>
            <input placeholder="Фамилия" th:value="${userForm.getLastName()}" name="lastName" type="text"><br>
            <input placeholder="Дата рождения" th:value="${userForm.getBirthDate()}" name="birthDate" type="text"><br>
            <input placeholder="Телефон" th:value="${userForm.getPhone()}" name="phone" type="text"><br>
            <input placeholder="Почта" th:value="${userForm.getEmail()}" name="email" type="text"><br>
                Role: <select id="name" name="role" type="text">
                    <option value="STUDENT" text="Student">STUDENT</option>
                    <option value="TEACHER" text="Teacher">TEACHER</option>
                </select><br><br>
            <input type="submit" value="Обновить">
            <br>
            <a th:href="@{/user/}">
                <button>На главную</button>
            </a>

        </form>
    </div>
</div>
</body>
</html>