<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователь не найден</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="form">
    <h3>ПОЛЬЗОВАТЕЛЬ НЕ НАЙДЕН</h3>
    <a th:href="@{/user/viewall/}">
        <button>Вернуться к списку</button>
    </a>
</div>
</body>
</html>