<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="form">
<h3>Список пользователей:</h3>

<div th:if="${users.size() > 0}" th:each="user : ${users}">
    <span th:text="${user.getFirstName()}"/> <span th:text="${user.getLastName()}"/> (<span
        th:text="${user.getRole()}"/>)<br>
    <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/user/viewuserinfo/{id}(id=${user.getUserId()})}">
        <button>Подробно</button>
    </a>

    <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/user/deleteuser/{id}(id=${user.getUserId()})}">
        <button>Удалить</button>
    </a>
</div>

<div th:unless="${users.size() > 0}">
    Отсутствуют зарегистрированные пользователи
</div>

<a th:href="@{/user/}">
    <button>На главную</button>
</a>
</body>
</html>