
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="form">


    <h4>Профиль пользователя</h4>
    <div>
        <span th:text="${user.getFirstName()}">...</span>  <span th:text="${user.getLastName()}">...</span><br>
        Дата рождения: <span th:text="${user.getBirthDate()}">...</span><br>
        Номер телефона: <span th:text="${user.getPhone()}">...</span><br>
        Email: <span th:text="${user.getEmail()}">...</span><br>
        Статус:<span th:text="${user.getRole()}">...</span><br>
    </div>
<br>
    <h4>Прикреплен к группам:</h4>
            <div th:if="${usergroup.size()>0}" th:each="ug : ${usergroup}">
                <span th:text="${ug.getGroupName()}"></span><br>
                <a th:href="@{/group/viewgroupinfo/{id}(id=${ug.getGroupId()})}">
                    <button>Подробно</button>
                </a>
            </div>

        <div th:unless="${usergroup.size() > 0}" >
            не прикреплен ни к одной группе
        </div>
    <br>
<div sec:authorize="hasRole('ROLE_TEACHER')">
        Прикрепить к группе
        <form method="post" th:action="@{user/adduser/{id}(id=${user.getUserId()})}">
            <select id="group" name="group">
                <option th:each="group : ${groups}"
                        th:value="${group.getGroupId()}"
                        th:text="${group.getGroupName()}">
                </option>
            </select>
            <button type="submit">Выбрать</button>
        </form>
</div>
        <br>
        <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/user/update/{id}(id=${user.getUserId()})}">
            <button>Обновить данные пользователя</button>
        </a>
        <br>
        <a th:href="@{/user/viewall}">
            <button>К списку пользователей</button>
        </a>
        <br>
        <a th:href="@{/user/}">
            <button>На главную</button>
        </a>
        <br>

</body>
</html>