<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание группы</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="form" align="center">
    <h3>Создать группу</h3>
    <div>
        <h4>Заполните форму:</h4>
        <form method="post" th:object="${groupform}">
            <input placeholder="Название группы" name="groupName" type="text"><br>
            <input placeholder="Описание группы" name="description" type="text"><br>
            <input type="submit" value="Создать">
        </form><br>
        <a th:href="@{/user/}">
            <button>На главную</button>
        </a>

    </div>
</div>

</body>
</html>