<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Группа не найдена</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="form">
    <h3>ГРУППА НЕ НАЙДЕНА</h3>
    <a th:href="@{/group/viewallgroups/}">
        <button>Вернуться к списку</button>
    </a>
</div>
</body>
</html>