<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Сервис групп</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="form">
<h4>Выберите действие:</h4>
<div>

    <a th:href="@{/group/viewallgroups/}">
        <button>Получить Список групп</button>
    </a>
    <br>

    <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/group/creategroup/}">
        <button>Создать группу</button>
    </a>
    <br>

    <a th:href="@{/user/}">
        <button>Вернуться на главную</button>
    </a>

</div>
</div>

</body>
</html>