<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Просмотр группы</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body align="center" class="form">
<h4>Профиль группы</h4>
<div>

        Группа: <span th:text="${group.getGroupName()}"/><br>
        <span th:text="${group.getDescription()}"/><br>
        <br>
    <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/group/updategroup/{id}(id=${group.getGroupId()})}">
        <button>Обновить данные</button>
    </a>

</div>
<br>

<h4>Состав Группы.</h4>

    <div th:if="${users.size() > 0}" th:each="user : ${users}">
        <span th:text="${user.getFirstName()}"/>  <span th:text="${user.getLastName()}"/><br>
        <span th:text="${user.getRole()}"/><br>
        <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/user/viewuserinfo/{id}(id=${user.getUserId()})}">
            <button>Подробнее</button>
        </a>
        <br>
    </div>

<div th:unless="${users.size() > 0}">
    Отсутствуют зарегистрированные пользователи
</div>

<br>
<a th:href="@{/group/}">
    <button>На главную</button>
</a>

</body>
</html>