<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Просмотр групп</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="form">
<h4>Список групп:</h4>


    <div th:if="${groups.size() > 0}" th:each="group : ${groups}">
        <span th:text="${group.getGroupName()}"></span><br>
        <span th:text="${group.getDescription()}"></span><br>
        <a th:href="@{/group/viewgroupinfo/{id}(id=${group.getGroupId()})}">
            <button>Подробная информация</button>
        </a>
        <br>
        <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/group/deletegroup/{id}(id=${group.getGroupId()})}">
            <button>Удалить</button>
        </a> <br>

    </div>
<br>


<div th:unless="${groups.size() > 0}">
    Группы отсутствуют.
</div>

<a th:href="@{/group/}">
    <button>Назад</button>
</a>
</body>
</html>